.Main {
  font-family: 'Rubik', sans-serif;


  .barba-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &[data-namespace="homepage"] {
      background: url('../assets/img/bg-index.jpg') no-repeat center center;
    }
  }

  &-Frame {
    &--top,
    &--left,
    &--right,
    &--bottom {
      position: fixed;
      z-index: 9999;
      background: $darkBlue;
    }

    &--top {
      width: 100%;
      height: 30px;
      left: 0;
      top: 0;
    }

    &--bottom {
      width: 100%;
      height: 30px;
      left: 0;
      bottom: 0;
      transform: translate3d(0,0,0);
      backface-visibility: hidden;
    }

    &--right {
      height: 110vh;
      width: 30px;
      right: 0;
      top: 0;
      transform: translate3d(0,0,0);
      backface-visibility: hidden;
    }

    &--left {
      height: 110vh;
      width: 30px;
      left: 0;
      top: 0;
    }
  }

  &-Content {
    height: 100%;
  }
}

*:focus {
  outline: none;
}

.barba-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
