.Competence,
.Techno {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &-Item {
    text-align: center;
  }

  &-Exp {
    margin: $spaceSmall 0 0;
  }

  &-Image {
    display: inline-block;
    text-align: center;
    max-height: 115px;
    max-width: 100%;
    margin-left: $spaceMedium;
  }
}
