.Competence,
.Techno {
  &-Item {
    text-align: center;
  }

  &-Exp {
    margin: $spaceSmall 0 0;
  }

  &-Image {
    display: inline-block;
    text-align: center;
    max-height: 115px;
    max-width: 100%;
    margin-left: $spaceMedium;
    margin-top: $spaceMedium;
  }
}

.Techno {
  margin-bottom: 100px;
}

.List-Item {
  margin-top: $spaceBig;
}
