.Index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &-Logo {
    width: 610px;
    text-decoration: none;

    &Portfolio {
      margin: 0;
      text-align: right;
      font-size: 74px;
    }
  }

  &-About {
    position: absolute;
    width: 790px;
    height: 260px;
    bottom: 70px;
    left: 140px;
    color: $white;
    @extend .Font-Thin;
  }
}
