.Index {
  &-Logo {
    width: 610px;
    text-decoration: none;

    &Portfolio {
      margin: 0;
      text-align: right;
      font-size: 57px;
      line-height: 38px;
    }
  }

  &-About {
    position: absolute;
    padding: $spaceMedium $spaceLarge;
    background-color: rgba(56, 76, 92, 0.55);
    width: 470px;
    bottom: 70px;
    left: 80px;
    color: $white;
    @extend .Font-Thin;
  }

  &Button {
    position: absolute;
    right: 80px;
    bottom: 70px;
  }
}
