.Index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &-Logo {
    width: 610px;
    text-decoration: none;

    &Portfolio {
      margin: 0;
      text-align: right;
      font-size: 74px;
    }
  }

  &-About {
    position: absolute;
    padding: $spaceMedium $spaceLarge;
    background-color: rgba(56, 76, 92, 0.55);
    width: 470px;
    bottom: 70px;
    left: 140px;
    color: $white;
    @extend .Font-Thin;
  }
}
