.Page {
  //display: flex;
  //flex-flow: row wrap;
  //align-items: center;
  justify-content: center;
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  .SmallLogo {
    position: absolute;
    width: 46px;
    left: 62px;
    top: 55px;
  }

  .About-Wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
