<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main class="Main"><!-- .Main -->
      <div class="Main-Frame"><!-- .Main-Frame -->
        <div class="Main-Frame--top"></div>
        <div class="Main-Frame--left"></div>
        <div class="Main-Frame--right"></div>
        <div class="Main-Frame--bottom"></div>
      </div><!-- /.Main-Frame -->
      <section class="Main-Content"><!-- .Main-Content -->
        <button class="Hamburger js-openNav" type="button"><!-- .Hamburger -->
          <span class="Hamburger-Box"><!-- .Hamburger-Box -->
            <span class="Hamburger-Inner"></span>
          </span><!-- /.Hamburger-Box -->
        </button><!-- /.Hamburger -->

        <div class="NavContainer"><!-- .NavContainer -->
          <div class="NavContainer-bcg1"></div>
          <div class="NavContainer-bcg2"></div>
          <button class="Hamburger HamburgerNav Hamburger--blue js-openNav" type="button"><!-- .Hamburger -->
            <span class="Hamburger-Box"><!-- .Hamburger-Box -->
              <span class="Hamburger-Inner"></span>
            </span><!-- /.Hamburger-Box -->
          </button><!-- /.Hamburger -->

          <nav class="NavMenu"><!-- .NavMenu -->
            <ul class="NavMenu-Elements"><!-- .NavMenu-Elements -->
              <li class="NavMenu-Item"><a class="active" href="http://www.funktional.net/">Accueil</a></li>
              <li class="NavMenu-Item"><a href="/work/">Travaux</a></li>
              <li class="NavMenu-Item"><a href="/about/">À Propos</a></li>
              <li class="NavMenu-Item"><a href="http://www.funktional.net/contact/">Contact</a></li>
            </ul><!-- /.NavMenu-Elements -->
          </nav><!-- /.NavMenu -->

          <aside class="NavMenuSocials"><!-- .NavMenuSocials -->
            <ul class="NavMenuSocials-Elements"><!-- .NavMenuSocials-Elements -->
              <li class="NavMenuSocials-Item">
                <a href="https://www.facebook.com/FunktionalAgency/" target="_blank"><i class="icon-facebook"></i></a>
              </li>
              <li class="NavMenuSocials-Item">
                <a href="https://twitter.com/Funktional" target="_blank"><i class="icon-twitter"></i></a>
              </li>
            </ul><!-- /.NavMenuSocials-Elements -->
          </aside><!-- /.NavMenuSocials -->
        </div>
        {{ content }}
      </section><!-- /.Main-Content -->
    </main><!-- /.Main -->
    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/main.js" type="text/javascript"></script>
  </body>
</html>
