@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

.Font {
  // Width
  &-Thin {
    font-weight: 300;
  }

  &-Regular {
    font-weight: 400;
  }

  &-Medium {
    font-weight: 500;
  }

  &-Bold {
    font-weight: 700;
  }

  &-Black {
    font-weight: 900;
  }

  // Coulours
  &-Blue {
    color: $blue;
  }

  &-DarkBlue {
    color: $darkBlue;
  }

  &-Red {
    color: $red;
  }

  &-White {
    color: $white;
  }
}
